@media screen and (max-width: 1440px) {
    .col-side img {
        width: 40%;
        margin-top: 40%;
    }

    #counter {
        font-size: 3em
    }

    .col-main div#question,
    .col-main div#choices,
    .col-main div#progress {
        font-size: 0.4em;
    }

    .col-main {
        padding-top: 3%;
    }

    .col-main div#question {
        width: 44% !important;
    }

    .choice {
        font-size: 0.4em !important;
        list-style: none !important;
    }

    .choice span {
        font-size: 0.6em;
        width: 50px;
        height: 50px;
    }

    /* New Option */
    .newOption {
        list-style: none;
        font-size: 0.4em;
        margin-top: 4%;
    }

    .newOption li span {
        background: #ffffff52;
        height: 50px;
        display: inline-block;
        width: 50px;
    }

}